<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916195498564-moug2aq0v4g0me5h0v3hpa0csnm5hqfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916195498564-moug2aq0v4g0me5h0v3hpa0csnm5hqfo</string>
	<key>API_KEY</key>
	<string>AIzaSyB4qaJgFpQbqYnyVOhKHQ357zA0-EOHNdk</string>
	<key>GCM_SENDER_ID</key>
	<string>916195498564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestureDetection</string>
	<key>PROJECT_ID</key>
	<string>gesturerecognitionapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>gesturerecognitionapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916195498564:ios:22f4bf796f95e35ea7ba11</string>
</dict>
</plist>